<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aox.system.mapper.DictDataMapper">

    <!-- 根据字典类型查询字典数据 -->
    <select id="selectByDictType" resultType="com.aox.system.domain.SysDictData">
        SELECT *
        FROM sys_dict_data
        WHERE dict_type = #{dictType}
          AND status = 0
          AND deleted = 0
        ORDER BY dict_sort ASC
    </select>

</mapper>
