spring:
  datasource:
    druid:
      url: jdbc:mysql://mysql:3306/aox?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false
      username: root
      password: ${DB_PASSWORD:root123456}

  data:
    redis:
      host: redis
      port: 6379

logging:
  level:
    root: INFO
    com.aox: INFO
