spring:
  datasource:
    druid:
      url: jdbc:mysql://localhost:3306/aox?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
      username: ${DB_USERNAME:root}
      password: phj063130

  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    root: INFO
    com.aox: INFO
